{% extends 'calculator/base.html' %}
{% block content %}
{% load static %}
{% include 'calculator/navigation.html' %}

<br>

<div class="col">
	<div class="card card-body">
		<h1 style="text-align: center;">Welcome to the Residential Energy Evaluator!</h1>
        <hr>
        <h3 style="text-align: center;">Here you can:</h1>
        <ul style="margin: auto;">
            <li><h5>Save money by reducing your electricity bill</h5></li>
            <li><h5>Receive detailed energy insights and benchmarking against similar properties</h5></li>
            <li><h5>Access vast digital repository of net - zero data & resources</h5></li>
            <li><h5>Establish Digital Footprint of your building</h5></li>
            <li><h5>Explore live monitoring and automation via IoT</h5></li>
        </ul> 
	</div>
</div>
<br>

<br>


{% endblock %}