{% extends 'calculator/base.html' %}
{% load static %}
{% block content %}

<br>
<div class="col">
    <div class="card card-body">
        <h2>Login</h2>
        <br>
        <form method="POST">
            <table class="table table-sm">
                {% csrf_token %}

                <tr style="text-align: center;">
                    <th>Username: <input type="text" name="username" placeholder="Username..."></th>
                </tr>

                <tr style="text-align: center;">
                    <th>Password: <input type="password" name="password" placeholder="Password..."></th>
                </tr>

                <tr style="text-align: center;">
                    <th><br></th>
                </tr>

                <input style="position: absolute; bottom: 10px; left: 50%;" class="btn btn-success" type="submit" name="Create Building" value="Login">
            </table>
        </form>
    </div>
</div>

<br>

{% for message in messages %}

    <h6 style="text-align: center; color: red;">{{message}}</h6>

{% endfor %}

<h5 style="text-align: center;">Don't have an account? <a href="{% url 'register' %}">Register</a></h5>

<h5 style="text-align: center;">Forgot Password? <a href="{% url 'reset_password' %}">Reset Password</a></h5>

{% endblock content %}