{% extends 'calculator/base.html' %}
{% load static %}
{% block content %}

<br>
<div class="col">
    <div class="card card-body">
		<h2>Reset Password</h2>
		<h4>Forgot your password? Enter your email address below, and we'll email instructions for setting a new one.</h4>
		<form method="post">
			<table class="table table-sm">
				{% csrf_token %}
				{{form.as_table}}
				
				<input style="position: absolute; bottom: 10px;" class="btn btn-success" type="Submit" name="Send email" value="Send email">
			</table>
		</form>
	</div>
</div>

{% endblock content %}