{% extends 'calculator/base.html' %}
{% load static %}
{% block content %}

<br>
<div class="col">
    <div class="card card-body">
	<h2>Enter new password</h2>
	<h3>Please enter your new password twice so we can verify you typed it in correctly.</h3>
	<br>
	<form method="post">
		<table class="table table-sm">
			{% csrf_token %}
			{{form.as_table}}
			
			<input style="position: absolute; bottom: 10px;" class="btn btn-success" type="Submit" name="Update Password" value="Update Password">
		</table>
	</form>

{% endblock content %}